#SPDX-License-Identifier: MIT-0
---
# tasks file for go-certdist-ansible

- name: "Create certdist config directory"
  ansible.builtin.file:
    path: /etc/certdist
    state: directory
    mode: '0755'

- name: "Download and install certdist"
  ansible.builtin.get_url:
    url: "https://github.com/markus-seidl/go-certdist/releases/download/{{ certdist_version }}/certdist_{{ ansible_system | lower }}_{{ go_arch }}"
    dest: /opt/certdist
    mode: '0755'
  notify:
    - Restart certdist

- name: "Include server tasks"
  ansible.builtin.include_tasks: server.yml
  when: certdist_mode == 'server'

- name: "Include client tasks"
  ansible.builtin.include_tasks: client.yml
  when: certdist_mode == 'client'
